html
  head
    title Node Authentication
    |     
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    // load bootstrap css
    style.
      body        { padding-top:80px; }
  body
    .container
      .jumbotron.text-center
        h1
          span
          |  Login
        |         
        p Login or Register with:
        |         
        a.btn.btn-danger(href='/auth/google')
          span.fa.fa-google-plus
          |  Google
