doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    |     
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |     
    meta(name='description', content='')
    |     
    meta(name='author', content='')
    |     
    title Roster
    // Bootstrap Core CSS
    link(href='css/bootstrap.min.css', rel='stylesheet')
    // Custom CSS
    link(href='css/modern-business.css', rel='stylesheet')
    // Custom Fonts
    link(href='font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    // ROSTER CSS
    //link(href='css/roster.css', rel='stylesheet', type='text/css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      |         
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body
    // Navigation
    nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            |                     
            span.icon-bar
            |                     
            span.icon-bar
            |                     
            span.icon-bar
          |                 
          a.navbar-brand(href='/') YourOrg
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href='/chapterevents') Chapter Events
            |                     
            li
              a(href='/roster') Roster
            |                     
            li
              a(href='/food') Food
            |                     
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                | Profile 
                b.caret
              |                         
              ul.dropdown-menu
                li
                  a(href='/profile') Profile
                |                             
                li
                  a(href='/logout') Log Out
                |                             
                li
        // /.navbar-collapse
      // /.container
    // Page Content
    .container
      // Page Heading/Breadcrumbs
      .row
        .col-lg-12
          h1.page-header
            | Roster
          |                 
          ol.breadcrumb
            li
              a(href='/') Home
            |                     
            li.active Roster
      // /.row
      // Service Panels
      // The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/

      .col-md-12.col-sm-8
        .panel.panel-default.text-center
          .panel-heading
            h2 Chapter Members
          .panel-body
            // Food LIST
            #foodList
                table.table.table-striped
                    tbody
                        -var count = 0
                        each val in rost.email
                            -if (count%2 == 0)
                                tr
                            td
                                strong #{val.name}
                                p #{val.address}
                            -count++;

    footer
      .row
        .col-lg-12
          p YourOrg 2015


    script(src='javascripts/jquery.min.js')

    script(src='javascripts/bootstrap.min.js')