/* Responsive iFrame */


.responsive-iframe-container {


   /* position: relative;
    padding-bottom: 120%;
    padding-right: 100%;
    padding-left: 100%;
    padding-top: 50%;
    height: 0;
    overflow: auto;*/
    
    
}

 body{
    padding-left: 5px;
    padding-right: 5px;
}


.visible-xs {  
 /*position: relative;
                padding-bottom: 120%;
                padding-right: 100%;
                padding-left: 100%;
                padding-top: 50%;
                height: 0;
                overflow: auto;*/

 padding-bottom: 56.25%;
 padding-top: 56.25%;
 padding-right: 20%;
 padding-left: 20%;
 overflow: hidden;


}
 /*overflow: hidden;
 width: 100%;
 height: 100%;

 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
}*/


.modal-dialog
{

padding-bottom: 150%;
padding-top: 10px;
padding-left: 50px;
padding-right: 50px;

height: 0;
overflow: auto;
}

.hidden-xs {   position: relative;
    padding-bottom: 120%;
    padding-top: 30px;
    padding-right: 100%;
    padding-left: 0%;

    height: 0;
    overflow: auto;
}

.responsive-iframe-container iframe,
.responsive-iframe-container object,
.responsive-iframe-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* CSS REQUIRED */
.state-icon {
    left: -5px;
}
.list-group-item-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(66, 139, 202);
}

/* DEMO ONLY - REMOVES UNWANTED MARGIN */
.well .list-group {
    margin-bottom: 0px;
}

#authorize-button{
visibility: hidden;
}

