<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Chapter Events</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        
        <!-- Custom Calendar Responsive -->
        <link href="css/calendar.css" rel="stylesheet" type="text/css">
  <script src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body onload="handleClientLoad()">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">App name</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/chapterevents">Chapter Events</a>
                    </li>
                    <li>
                        <a href="/roster">Roster</a>
                    </li>
                    <li>
                        <a href="/food">Food</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Profile <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/profile">Profile</a>
                            </li>
                            <li>
                                <a href="/logout">Log Out</a>
                            </li>
                            <li>
                                
                                </ul>
                    </li>
                    
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"> Chapter Events
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/">Home</a>
                    </li>
                    <li class="active">Chapter Events</li>
                </ol>
            </div>
        </div>

        <hr>
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        <!-- /.row -->
        
        <div class="container" style="margin-top:20px;">
            <div class="row">
                <div class="col-xs-6">
                  
                    <script src="javascripts/format-google-calendar.js"></script>

                    <div class="panel panel-danger" id="result-panel">
                        <div class="panel-heading">
                               <button id="authorize-button" class="btn btn-primary">Authorize</button>
                           <h3 class="panel-title" id="result-title">Application Not Authorized</h3>
                        </div><!-- .panel-heading -->
                        <div class="panel-body">
                            <p>Insert Event into Public Calendar&hellip;</p>
                            <div id="event-response"></div>
                            <pre id="output"></pre>
                        </div><!-- .panel-body -->
                    </div><!-- .panel -->                </div>
                
                
                <!-- Responsive iFrame -->
                <div class="responsive-iframe-container">
                    
                   <iframe src="https://calendar.google.com/calendar/embed?mode=WEEK&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=ftbioqlsgdfcp0sltprr7r7nqg%40group.calendar.google.com&amp;color=%238C500B&amp;ctz=America%2FNew_York" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
                </div>
                <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2015</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->
    <!-- Calendar JS-->

    <!-- jQuery -->
    <script src="javascripts/jquery.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
  <!--  <script src="javascripts/calendar.js"></script>-->
    <!--<script src="javascripts/calendarcheckbox.js"></script>-->
    <script src="javascripts/chapterevents.js"></script>


</body>

</html>
